<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>天际电器</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ontouchstart="" onmouseover="">
    <div id="app" v-cloak>
      <header class="header noBg">
          <a href="javascript:history.go(-1);" title="返回" class="icon back" ></a>
          <!-- <div class="clearfix search-box">
              <input type="button" class="fl search-btn">
              <input type="text" id="" class="search-txt" placeholder="搜索" value="" maxlength="30">
          </div> -->
          <div class="pr search-collapsible">
            <div class="clearfix searchWhite">
                <i class="fl search-btn"></i>
                <input type="text" id="searchword" class="search-txt" placeholder="天际电器" value="" maxlength="30" readonly onclick="location.href='search.html?categoryId=news'">
                <i class="clear"></i>
            </div>
          </div>
      </header>
      <section class="infoListBox padB26">
          <!-- 轮播 -->
          <div class="swiper-container full2" id="slides">
            <ul class="swiper-wrapper">
                <li class="swiper-slide" v-for="item in slideshowList">
                    <a href="javascript:void(0);" class="textC j_3019 bannerPhoto" title=""><img :data-src="item.picture.Url" src="images/imgload.gif" onerror="this.src='images/error.png'" alt="" class="loadImg" alt="" /></a>
                </li>
            </ul>
            <div class="pagination"></div>
          </div>
          <!-- 菜单 -->
          <div class="navBox">
              <div class="font22 pad24 nav">
                  <a href="javascript:;" @click="toCategories(item.id)" class="navIcon" v-for="item in newsCategories"><img class="navImg" :src="item.icon.Url" alt="">{{item.name}}</a>
              </div>
          </div>
          <div class="hotCookbook">
              <ul class="hotCookArticle">
                <li @click="toInfoDetail(item.id)" class="cookArticleItem marT24" v-for="item in newsList" v-if="item.wideMode">
                  <span class="articleImg j_53"><img :data-src="item.picture.Url" class="loadImg" alt=""></span>
                  <span class="db font32 padTB24 line15">{{item.title}}</span>
                </li>
              </ul>
          </div>
          <div class="infoBox marT24">
            <ul class="infoList">
              <li @click="toInfoDetail(item.id)" class="infoItem" v-for="item in newsList" v-if="!item.wideMode">
                <span class="infoImg j_85"><img :data-src="item.picture.Url" class="loadImg" alt=""></span>
                <div class="marL24 infoText">
                  <span class="title font32 color33">{{item.title}}</span>
                  <span class="db font20 colora3">{{item.summary}}</span>
                </div>
              </li>
            </ul>
            <div class="padTB40 font26" v-if="isLoadMore">
              <a href="javascript:;" @click="getNewsCategoriesList()" class="db textC color82">》》》显示更多《《《</a>
            </div>
          </div>
      </section>

      <!-- 底部 -->
      <footer class="footer clearfix">
          <a :href="item.code+'.html'" class="footerIcon" :class="{'on': currentCode === item.code}" v-for="item in footerMenu">
            <img class="iconImg" :src="currentCode === item.code ? item.iconActive.Url : item.icon.Url" alt="">
            {{item.name}}
          </a>
      </footer>
    </div>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/vue.js"></script>
    <script type="text/javascript" src="js/lib/vue-resource.js"></script>
    <script type="text/javascript" src="js/lib/swiper.min.js"></script>
    <script type="text/javascript" src="js/lib/global.js"></script>
    <script type="text/javascript" src="js/news.js"></script>
    <script type="text/javascript">
        /*// 轮播
        var swiper = new Swiper('.full2',{
            pagination: '.full2 .pagination',
            paginationClickable: true,
            speed: 2000,
            autoplay: 3000,
            loop: true,
            autoplayDisableOnInteraction: false
        });
        // 轮播比例
        myJS.imgScale('.j_3019', '30', '19');
        myJS.imgScale('.j_53', '5', '3');
        myJS.imgScale('.j_85', '8', '5');
        myJS.ImgFull('.loadImg','images/error.png');*/
    </script>
  </body>
</html>
