<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <title>天际电器</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ontouchstart="" onmouseover="">
    <div id="app" v-cloak>
      <header class="header">
          <a href="javascript:history.go(-1);" title="返回" class="icon back" ></a>
          <!-- <div class="clearfix search-box">
              <input type="button" class="fl search-btn">
              <input type="text" id="" class="search-txt" placeholder="搜索" value="" maxlength="30">
          </div> -->
          <div class="pr search-collapsible">
            <div class="clearfix searchWhite">
                <i class="fl search-btn" @click="getRecipesList()"></i>
                <input type="text" id="searchword" class="search-txt" placeholder="天际电器" value="" v-model="keyword" maxlength="30">
                <i class="clear"></i>
            </div>
          </div>
      </header>
      <section class="infoListBox padT27 padB26">
          <!-- 菜单 -->
          <div class="navBox">
              <div class="font22 pad24 nav">
                  <a href="javascript:;" @click="toCategories('news')" class="navText" :class="{'on': 'news' === categoryId}">资讯</a>
                  <a href="javascript:;" @click="toCategories('products')" class="navText" :class="{'on': 'products' === categoryId}">产品</a>
                  <a href="javascript:;" @click="toCategories('manuals')" class="navText" :class="{'on': 'manuals' === categoryId}">说明书</a>
              </div>
          </div>
          <div class="infoBox marT24">
            <ul class="infoList">
              <li @click="toInfoDetail(item.id)" class="infoItem" v-for="item in recipesList">
                <span class="infoImg j_85"><img :data-src="item.picture.Url" class="loadImg" alt=""></span>
                <div class="marL24 infoText">
                  <span class="title font32 color33">{{item.title}}</span>
                  <span class="db font18 colora3">{{item.summary}}</span>
                </div>
              </li>
            </ul>
            <!-- <div class="padTB40 font26">
              <a href="#" class="db textC color82">》》》显示更多《《《</a>
            </div> -->
          </div>
      </section>

      <!-- 底部 -->
      <footer class="footer clearfix">
          <a :href="item.code+'.html'" class="footerIcon" :class="{'on': currentCode === item.code}" v-for="item in footerMenu">
            <img class="iconImg" :src="currentCode === item.code ? item.iconActive.Url : item.icon.Url" alt="">
            {{item.name}}
          </a>
      </footer>
    </div>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/vue.js"></script>
    <script type="text/javascript" src="js/lib/vue-resource.js"></script>
    <script type="text/javascript" src="js/lib/swiper.min.js"></script>
    <script type="text/javascript" src="js/lib/global.js"></script>
    <script type="text/javascript" src="js/search.js"></script>
    <script type="text/javascript">
        /*// 轮播
        var swiper = new Swiper('.full2',{
            pagination: '.full2 .pagination',
            paginationClickable: true,
            speed: 2000,
            autoplay: 3000,
            loop: true,
            autoplayDisableOnInteraction: false
        });
        // 轮播比例
        myJS.imgScale('.j_3019', '30', '19');
        myJS.imgScale('.j_53', '5', '3');
        myJS.imgScale('.j_85', '8', '5');
        myJS.ImgFull('.loadImg','images/error.png');*/
    </script>
  </body>
</html>
